.git
.github
.devbox
.idea
.vscode
.claude
.codex
.husky
target/
node_modules/
bindings/node/*.node
dist/
.venv/
__pycache__/
*.profraw
lcov.info
bin
vendor
tmp
*.test
coverage.out
coverage.txt
coverage.html
*.db
.DS_Store
.env
